<!-- <div class="ion-hide-md-up" style="height: 0; z-index: 0;">
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 768 328.28">
      <defs>
        <style>.cls-1{fill:url(#linear-gradient);}</style>
        <linearGradient id="linear-gradient" x1="248.82" y1="-133.42" x2="519.18" y2="370.8" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#061a17"/>
          <stop offset="0.11" stop-color="#0d2924"/>
          <stop offset="0.35" stop-color="#1c463d"/>
          <stop offset="0.56" stop-color="#25584d"/>
          <stop offset="0.71" stop-color="#285e52"/>
      </linearGradient>
    </defs>
    <path class="cls-1" d="M0,237.38H0a856.19,856.19,0,0,0,757.74,5l10.26-5V0H0Z"/>
  </svg>
</div> -->
<!-- <div class="" style="height: 0; z-index: 0;">
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 105.88 31.26">
    <defs>
      <style>.cls-2{fill:url(#linear-gradient);}</style>
      <linearGradient id="linear-gradient" x1="37.22" y1="-19.96" x2="68.66" y2="38.68" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#061a17"/>
        <stop offset="0.11" stop-color="#0d2924"/>
        <stop offset="0.35" stop-color="#1c463d"/>
        <stop offset="0.56" stop-color="#25584d"/>
        <stop offset="0.71" stop-color="#285e52"/>
      </linearGradient>
    </defs>
    <path class="cls-2" d="M0,18.73H0a118,118,0,0,0,104.47.68l1.41-.68V0H0Z"/>
  </svg>
</div> -->
<!-- <div class="ion-hide-md-up" style="height: 0; z-index: 0;">
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 105.88 31.26">
    <defs>
      <style>.cls-1{fill:url(#linear-gradient);}
      </style>
      <linearGradient id="linear-gradient" x1="52.94" y1="31.26" x2="52.94" gradientUnits="userSpaceOnUse">
        <stop offset="0.29" stop-color="#275d52"/>
        <stop offset="0.44" stop-color="#24574c"/>
        <stop offset="0.65" stop-color="#1b453d"/>
        <stop offset="0.89" stop-color="#0c2823"/>
        <stop offset="1" stop-color="#051916"/>
      </linearGradient>
    </defs>
    <path class="cls-1" d="M0,18.73H0a118,118,0,0,0,104.47.68l1.41-.68V0H0Z"/>
  </svg>
</div> -->
<div class="ion-hide-md-up svg-correction">
<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 105.88 44.26">
  <defs>
    <style>.cls-1{fill:url(#linear-gradient);}
    </style>
    <linearGradient id="linear-gradient" x1="52.94" y1="44.26" x2="52.94" gradientUnits="userSpaceOnUse">
      <stop offset="0.29" stop-color="#275d52"/><stop offset="0.44" stop-color="#24574c"/>
      <stop offset="0.65" stop-color="#1b453d"/><stop offset="0.89" stop-color="#0c2823"/>
      <stop offset="1" stop-color="#051916"/>
    </linearGradient>
  </defs>
  <path class="cls-1" d="M0,31.73H0a118,118,0,0,0,104.47.68l1.41-.68V0H0Z"/>
</svg>
</div>