<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'tranfers.transfers' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title class="ion-text-center">Origen</ion-title>
      
      <!-- 
         card-slides: triggers some sass options
         slidesPerView: defines the "ammount" of visible slides. the trick = decimal numbers
         spaceBetween: is basically the margin between each slide in px
    -->
    

    <ion-slides card-slides slidesPerView="1.18" spaceBetween="1">
        <ion-slide>
        <ion-card>
          <ion-card-header>
           Tarjeta del Bienestar
          </ion-card-header>
          <ion-card-content>
            Saldo disponible
          </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
        <ion-card>
          <ion-card-header>
            Mi Cochinito
          </ion-card-header>
          <ion-card-content>
            Saldo disponible
          </ion-card-content>
        </ion-card>
         </ion-slide>
         </ion-slides>
  
    
    <ion-title class="ion-text-center">Destino</ion-title>
    
    <ion-slides card-slides slidesPerView="1.18" spaceBetween="1">
        <ion-slide>
        <ion-card>
        <ion-card-header>
        Banco Azteca
      </ion-card-header>
          <ion-card-content>
            Gustavo Espindola
          </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
        <ion-card>
          <ion-card-content>
            Bancomer
          </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
        <ion-card>
          <ion-card-content>
            Banamex
         
          </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
        <ion-card>
          <ion-card-content>
            Santander
         
          </ion-card-content>
        </ion-card>
        </ion-slide>	    
        <ion-slide>
        <ion-card>
          <ion-card-content>
            BanCoppel
          </ion-card-content>
        </ion-card>
        </ion-slide>	     
    </ion-slides>
    </ion-content>
    
    <ion-content>

      <ion-title class="ion-text-center">Completar</ion-title>
      <form>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-input type="text" placeholder="Importe"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Concepto"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Referencia"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </form>

      <ion-row>
        <ion-col align-self-center>
          <ion-button type="submit" expand="block" color="primary">Finalizar</ion-button>
        </ion-col>
      </ion-row>

    </ion-content>
   
     

