ion-img {
    padding: 15% 42% 0;
    position: absolute;
}



ion-header {
    height: 130px;
    background: url("assets/fondo.svg") no-repeat center / cover;

    ion-title,
    ion-menu-button {
        --color: white !important;
        --ion-color-base: white !important;
    }
    ion-toolbar {
        --background: cubic-bezier(0.01, 0, 1, 1)-gradient(180deg, rgba(5, 26, 23, 1) 0%, rgb(26, 68, 59) 100%);
    }
    ion-back-button {
        display: block;
        --ion-color-base: white !important;
    }
    ion-toolbar:last-of-type {
        border: none;
        z-index: 110;
    }

}
@media (max-width:767px){
    .svg-correction{
        background-position-y: bottom;
    }
}
@media (max-width: 656px) {
    ion-img {
        padding: 15% 38% 0;
        position: absolute;
    }
}
@media (max-width: 600px) {
    ion-img {
        padding: 16% 39% 0;
        position: absolute;
    }
}
@media(max-width:540px) {
    ion-img {
        padding: 19% 35% 0;
        position: absolute;
    }
}
@media(max-width:450px) {
    ion-img {
        padding: 21% 34% 0 !important;
    }
}
@media(max-width:400px) {
    ion-img {
        padding: 25% 32%  0 !important;
    }
}

@media(max-width:340px) {
    ion-img {
        padding: 27% 30% 0 !important;
    }
}
