
<ion-header class=" svg-correction ion-no-border" [ngStyle]="{'margin-bottom': img ? '80px' : '0px' }" no-border>
  <!-- <app-svg *ngIf="svg"></app-svg> -->
  <ion-img *ngIf="img" style="z-index: 105" class="profile-photo" src="{{img}}"></ion-img>
  <ion-toolbar *ngIf="menu || backButton || notifications || dismissButton">
    <ion-buttons *ngIf="backButton" slot="start">
      <ion-back-button color="secondary" icon="chevron-back-outline" defaultHref="{{defaultHref ? defaultHref : 'dashboard'}}"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="menu" slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-button *ngIf="notifications" style="--background: none; --box-shadow: none;" slot="end">
      <ion-icon name="notifications"></ion-icon>
    </ion-button>
    <ion-button *ngIf="dismissButton" style="--background: none; --box-shadow: none;" slot="end">
      <ion-back-button color="secondary" icon="close-outline" defaultHref="{{defaultHref ? defaultHref : 'dashboard'}}"></ion-back-button>
    </ion-button>
  </ion-toolbar>
  <ion-title *ngIf="title" color="secondary">
    <div style="white-space: normal; text-align: center; text-transform: uppercase;">{{title | translate}}</div></ion-title>
</ion-header>