<ion-content>
  <ion-card>
    <br>
    <h5 class="ion-text-center"><b>Desbloqueo Exitoso</b></h5>

    <ion-img style="width: 30%; margin: auto;" src="/assets/header-icons/actualizar-cuenta.png" alt="Logo"></ion-img>

    <h5 class="ion-text-center"><b>YA PUEDES INGRESAR!</b></h5>

    <form class="container-small">
      <ion-list>
        <p class="text"> El proceso de desbloqueo de tu CLAVE DINÁMICA se completo exitosamente,
          ya puedes ingresar nuevamente a tu Banca Móvil y/o usarla para completar operaciones en tu Banca por Internet
        </p>
        
        <br><br>
        <div class="ion-padding">
          <ion-button (click)="onAceptar()" expand="block" class="ion-no-margin">
            Aceptar</ion-button>
        </div>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
