<ion-content>
  <ion-card>
    <br>
    <h5 class="ion-text-center"><b>Clave Dinámica Bloqueada</b></h5>

    <ion-img style="width: 30%; margin: auto;" src="/assets/header-icons/pass.png" alt="Logo"></ion-img>

    <h5 class="ion-text-center"><b>DESBLOQUEAR</b></h5>

    <form class="container-small">
      <ion-list class="background-input">
        <p class="ion-text-center">Has bloqueado tu Clave Dinámica por 5 intentos fallidos de uso en tu Banca por
          Internet,
          para desbloquear tu Clave Dinámica escribe tu PIN y oprime el botón de <b>DESBLOQUEAR</b> y sigue los pasos de
          desbloqueo
        </p>
        <ion-item>
        <ion-icon name="document-outline"></ion-icon>
        <ion-input placeholder="Escribe tu PIN"></ion-input>
        </ion-item>
        <br><br>
        <div class="ion-padding">
          <ion-button expand="block" (click)="openUnlock2()" class="ion-no-margin">
            {{ 'Unlock' | translate }}</ion-button>
        </div>
        <div class="ion-padding">
          <ion-button (click)="onCancel()" expand="block" class="ion-no-margin" color="medium">
            {{ 'Cancel' | translate }}
          </ion-button>
        </div>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
