<app-header [svg]="true" [dismissButton]="true" [title]="'Movements'" [img]="'/assets/header-icons/movimientos.png'">
</app-header>
<ion-content *ngIf="flag">
  <!-- List of Text Items -->

  <ion-label *ngIf="!movements || movements.length==0 ">
    <ion-title size="small">{{ 'No movements' | translate }}</ion-title>
  </ion-label>
  <ion-list style="width: 90%; margin: auto;">
    <ion-item *ngFor="let item of movements; index as index">
      <ion-avatar slot="start">
        <ion-icon
          [ngStyle]="{'color': item.transactionType.id === 1 ? 'green' : 'red', 'margin-top':'7px','font-size':'x-large' }"
          src="assets/icon/logout.svg"></ion-icon>
      </ion-avatar>
      <ion-label>

        <h3 *ngIf="item.paymentDetailData">
          {{ item.transactionType.id === 1  ? ('Deposit' | translate) : ('Withdrawal' | translate) }} -
          {{ item.paymentDetailData.paymentType.name | translate }}</h3>
        <h3 *ngIf="item.transfer">
          {{ item.transactionType.id === 2  ? ('Transfer made' | translate) : ('Transfer received' | translate) }}</h3>

        <h5 style="font-size: x-small; color: grey;" *ngIf="item.paymentDetailData">
          {{ item.transactionType.id === 1 ? ('Made a deposit for' | translate) : ('Made a withdrawal for' | translate)}}
          {{ item.currency.displaySymbol}}{{item.amount | number : '1.2-2' }}</h5>
        <h5 style="font-size: x-small; color: grey;" *ngIf="item.transfer">
          {{ item.transactionType.id === 2 ? ('Made a transfer for' | translate) : ('Received a transfer for' | translate)}}
          {{ item.currency.displaySymbol}}{{item.amount | number : '1.2-2' }}</h5>

        <h5 style="font-size: small;">{{ 'Balance' | translate }}:
          {{ item.currency.displaySymbol}}{{item.runningBalance | number : '1.2-2' }}</h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>