<ion-header translucent>
  <ion-toolbar>
    <ion-title color="secondary">Movimientos</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->

  <ion-label *ngIf="!movements || movements.length==0 ">  <h3>No hay movimientos</h3> </ion-label>
  <ion-list>
    <ion-item *ngFor="let movimiento of movements">
      <ion-avatar slot="start">
        <ion-icon
          [ngStyle]="{'color':movimiento.type.id === 1 ? 'red' : 'green', 'margin-top':'7px','font-size':'x-large' }"
          src="assets/icon/logout.svg"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>Transferencia {{movimiento.type.id===1 ? 'Realizada' : 'Recibida'}}</h3>
        <h5 style="font-size: x-small; color: grey;">{{movimiento.type.id===1 ? 'Realizó' : 'Recibió'}} una
          transferencia por {{movimiento.currency.displaySymbol}}{{movimiento.amount| number : '1.2-2'}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>