<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-white" translate="Settings"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="secondary">
    <br>
    <ion-img src="./assets/icon/settings.svg"></ion-img>
    <h6 style="text-align: center;color: white; font-weight: bold;" translate="Change settings"></h6>
    <br>
  </div>

  <br>
  <ion-list>
    <ion-item routerLink="change-password">
      <ion-label>
        <h4>Cambiar contraseña</h4>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <h4>Cambiar pin</h4>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <h4>Cambiar número de teléfono</h4>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <h4>Cambiar correo</h4>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

     

