<ion-content>
  <ion-card>
    <br>
    <h5 class="ion-text-center"><b>Solo un paso más</b></h5>

    <ion-img style="width: 30%; margin: auto;" src="/assets/header-icons/icon-user.png" alt="Logo"></ion-img>

    <h5 class="ion-text-center"><b>REVISA TU CORREO!</b></h5>

    <form class="container-small">
      <ion-list class="background-input">
        <p class="text"> Para finalizar el proceso de desbloqueo, revisa tu correo, te deberá haber
          llegado un código de desbloqueo que deberieras proporcionar a continuación
        </p>
        <ion-item class="ion-item-color">
          <ion-icon name="document-outline"></ion-icon>
          <ion-input placeholder="Escribe tu código"></ion-input>
        </ion-item>
        <br><br>
        <div class="ion-padding">
          <ion-button (click)="openUnlock3()" expand="block" class="ion-no-margin">
            {{ 'Accept' | translate }}</ion-button>
        </div>
        <div class="ion-padding">
          <ion-button (click)="onCancel()" expand="block" class="ion-no-margin" color="medium">
            {{ 'Cancel' | translate }}
          </ion-button>
        </div>
      </ion-list>
    </form>
  </ion-card>
</ion-content>