<!-- <ion-header translucent>
  <app-svg></app-svg>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary" translate>Recover password</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header [svg]="true" [backButton]="true" [title]="'Recover password'" [defaultHref]="'login'" [img]="'/assets/header-icons/ajustes.png'"></app-header>
<ion-content >

  <ion-card class="container-small">
      
      <ion-card-content>
    
        <form [formGroup]="forgotForm" (ngSubmit)="forgot()">
          <ion-list>
            <ion-item>
              <ion-icon name="mail-outline"></ion-icon>
              <ion-input type="email" placeholder="{{ 'Email' | translate }}" formControlName="email" clearInput></ion-input>
            </ion-item>
            <app-input-error [control]="forgotForm.controls.email"></app-input-error>

          </ion-list>
          <br>
          <div class="ion-padding">
            <ion-button type="submit" [disabled]="!forgotForm.valid" expand="block" color="primary" translate="Recover"></ion-button>    
            <ion-button [routerLink]="['/login']" routerDirection="backward" expand="block" color="medium">{{ 'Cancel' | translate }}</ion-button>
          </div>
        </form>
      </ion-card-content>
  
    </ion-card>
  
  </ion-content>
  
  <ion-footer class="ion-no-border">
    <ion-toolbar style="text-align: center;" no-padding>
      <app-footer></app-footer>
    </ion-toolbar>
  </ion-footer>
