<ion-header translucent>
  <app-svg></app-svg>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary" translate>Recover password</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>

      <ion-card-header>
        <div style="text-align: center;">
          <ion-item>
            <ion-label style="text-align: center;"> <ion-icon color="secondary" style="font-size: 2.5rem;" src="./assets/pixel.svg"></ion-icon></ion-label>
          </ion-item>
        </div>
      </ion-card-header>
      
      <ion-card-content>
    
        <form style="margin-top: 0.5rem;" [formGroup]="forgotForm" (ngSubmit)="forgot()">
          <ion-list>
            <ion-item>
              <ion-label position="floating">{{ 'registration.email' | translate }}<ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="email" formControlName="email" clearInput></ion-input>
            </ion-item>
            <app-input-error [control]="forgotForm.controls.email"></app-input-error>

          </ion-list>
          <br>
          <div class="ion-padding">
            <ion-button type="submit" [disabled]="!forgotForm.valid" expand="block" color="primary" translate="Recover"></ion-button>    
            <ion-button [routerLink]="['/login']" routerDirection="backward" expand="block" fill="clear">{{ 'registration.cancel' | translate }}</ion-button>
          </div>
        </form>
      </ion-card-content>
  
    </ion-card>
  
  </ion-content>
  
