<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-section">
    <p>Desarrollamos soluciones en medios de pago, basadas en tecnología financiera, con el objetivo de crear ecosistemas financieros eficientes, ágiles, disruptivos y disponibles en cualquier parte del mundo en todo momento.​</p>
    <a href="https://bancodelbienestarmexico.firebaseapp.com/">Más información aquí</a>
  </div>

</ion-content>
