<app-header [svg]="true" [img]="'/assets/header-icons/leona.png'"></app-header>

<ion-content fullscreen>
  <ion-grid>
    <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input formControlName="username" placeholder="{{ 'Username' | translate }}" clearInput></ion-input>
        </ion-item>
        <app-input-error [control]="loginForm.controls.username"></app-input-error>

        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input formControlName="password" [type]="type" placeholder="{{ 'Password' | translate }}"
            clearInput></ion-input>
          <ion-icon *ngIf="icon; else elseTemplate" (click)="viewPassword()" name="eye-off-outline" slot="end">
          </ion-icon>
          <ng-template #elseTemplate>
            <ion-icon (click)="viewPassword()" name="eye-outline" slot="end"></ion-icon>
          </ng-template>
        </ion-item>
        <app-input-error [control]="loginForm.controls.password"></app-input-error>
        <ion-button type="submit" [disabled]="!loginForm.valid" expand="block" color="primary">
          {{ 'Sign in' | translate }}</ion-button>
      </form>
      <ion-row>
        <ion-col align-self-center class="text-center">
          <ion-button [routerLink]="['/registration']" expand="block" color="medium">{{ 'Register ' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <a style="text-decoration: none; font-size: 12px;" [routerLink]="['/forgot-password']"
        class="small-text">{{ '¿Did you forget your password?' | translate }}</a>
    </div>
  </ion-grid>
</ion-content>

<app-footer></app-footer>