<ion-content>
  <ion-grid>

    <div style="width: 85%; margin: auto; margin-top: 5rem;">

      <ion-img style="margin-bottom: 3rem;" src="./assets/MifosX_logo.png"></ion-img>

      <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input formControlName="username" placeholder="{{ 'login.username' | translate }}" clearInput></ion-input>
        </ion-item>
        <app-input-error [control]="loginForm.controls.username"></app-input-error>

        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input formControlName="password" [type]="type" placeholder="{{ 'login.password' | translate }}" clearInput></ion-input>
            <ion-icon *ngIf="icon; else elseTemplate" (click)="viewPassword()" name="eye-off-outline" slot="end"></ion-icon>
            <ng-template #elseTemplate>
              <ion-icon  (click)="viewPassword()" name="eye-outline" slot="end"></ion-icon>
            </ng-template>
        </ion-item>  
        <app-input-error [control]="loginForm.controls.password"></app-input-error>

        <br><br><br>
        <ion-button type="submit" [disabled]="!loginForm.valid" expand="block" color="primary">{{ 'login.signin' | translate }}</ion-button>    
      </form>

      <ion-row>
        <ion-col align-self-center class="text-center">
          <ion-button [routerLink]="['/registration']" routerDirection="forward" expand="block" fill="clear">{{ 'login.register' | translate }}</ion-button>
        </ion-col>
      </ion-row>

    </div>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar style="text-align: center;">
    <a style="text-decoration: none;" [routerLink]="['/forgot-password']" class="small-text">{{ 'login.forgot-password' | translate }}</a>
  </ion-toolbar>
</ion-footer>