<app-header [svg]="true" [backButton]="true" [title]="'Change Password'" [defaultHref]="'settings'"
  [img]="'/assets/header-icons/ajustes.png'"></app-header>

<ion-content>
  <form class="container-big" [formGroup]="form" (ngSubmit)="changePassword()">

    <ion-item style="margin-top: 15px;">
      <ion-icon style="margin: 0px 15px 0 0px;" name="lock-closed-outline"></ion-icon>
      <ion-input formControlName="password" placeholder="{{ 'Current password' | translate }}" [type]="type" clearInput>
      </ion-input>
      <ion-icon *ngIf="icon" (click)="viewPassword()" name="eye-off-outline" slot="end"></ion-icon>
      <ion-icon *ngIf="!icon" (click)="viewPassword()" name="eye-outline" slot="end"></ion-icon>
    </ion-item>
    <app-input-error [control]="form.controls.password"></app-input-error>

    <ion-item style="margin-top: 15px;">
      <ion-icon style="margin: 0px 15px 0 0px;" name="lock-closed-outline"></ion-icon>
      <ion-input formControlName="newPassword" placeholder="{{ 'New password' | translate }}" [type]="type" clearInput>
      </ion-input>
      <ion-icon *ngIf="icon" (click)="viewPassword()" name="eye-off-outline" slot="end"></ion-icon>
      <ion-icon *ngIf="!icon" (click)="viewPassword()" name="eye-outline" slot="end"></ion-icon>
    </ion-item>
    <app-input-error [control]="form.controls.newPassword"></app-input-error>

    <ion-item style="margin-top: 15px;">
      <ion-icon style="margin: 0px 15px 0 0px;" name="lock-closed-outline"></ion-icon>
      <ion-input formControlName="confirmPassword" placeholder="{{ 'Confirm password' | translate }}" [type]="type"
        clearInput></ion-input>
      <ion-icon *ngIf="icon" (click)="viewPassword()" name="eye-off-outline" slot="end"></ion-icon>
      <ion-icon *ngIf="!icon" (click)="viewPassword()" name="eye-outline" slot="end"></ion-icon>
    </ion-item>
    <app-input-error [control]="form.controls.confirmPassword"></app-input-error>

    <br>
    <div class="ion-padding">
      <ion-button type="submit" [disabled]="!form.valid" expand="block" color="primary" translate="Change">
      </ion-button>
      <ion-button [routerLink]="['/settings']" routerDirection="backward" expand="block" fill="clear">
        {{ 'Cancel' | translate }}</ion-button>
    </div>
  </form>
</ion-content>

<app-footer></app-footer>