<app-header [svg]="true" [backButton]="true" [defaultHref]="'about-us'" [title]="'Privacidad'"></app-header>

<ion-content style="text-align: center">
  <div>
    <p style="text-align:justify; padding: 1rem;">
      <b>TÉRMINOS Y CONDICIONES DEL USO DEL PORTAL O SITIO DEL BANCO DEL AHORRO NACIONAL Y
        SERVICIOS FINANCIEROS, S.N.C., INSTITUCIÓN DE BANCA DE DESARROLLO </b><br /><br />
      El uso del Portal o Sitio propiedad del Banco del Ahorro Nacional y Servicios Financieros, S.N.C., Institución de
      Banca de Desarrollo (BANSEFI), cuyo dominio o dirección electrónica es: www.bansefi.gob.mx
      o cualquier otra que en el futuro pudiera llegar a utilizarse, así como y de las aplicaciones del mismo, constituye el
      pleno y expreso consentimiento por
      parte de la persona física o moral que acceda y/o utilice el Portal o Sitio (en adelante el Usuario), para observar,
      aceptar y sujetarse respecto de cada uno
      de los Términos y Condiciones de uso que aquí se contienen, así como respecto de las políticas de privacidad,
      políticas de seguridad y,
      en su caso, de cualesquiera otros documentos que formen parte del mismo o que regulen la participación del Usuario en
      este Portal o Sitio.
      En el supuesto de que cualesquiera de los términos a los que habrá de sujetarse el usuario cuando acceda a este Portal
      o Sitio sean contrarios a sus intereses,
      deberá abstenerse de hacer uso del mismo.
      <br />
      <br />
      <b>Obligaciones del Usuario</b>
      <br />
      <br />
      Al utilizar o acceder a este Portal o Sitio el Usuario se obliga a cumplir con los Términos y Condiciones de su uso,
      establecidos en el presente documento (en adelante, los “Términos y Condiciones”), por lo que reconoce haber leído,
      entendido y estar de acuerdo en sujetarse a los presentes Términos y Condiciones. Por lo que, al acceder al Portal o
      Sitio,
      está de acuerdo en acatar y sujetarse a los mismos. Sin embargo, no podrá distribuir, modificar, transmitir o editar
      los contenidos de esta página sin el permiso
      previo y por escrito de BANSEFI.
      <br />
      <br />
      <b>Términos generales</b>
      <br />
      <br />
      La información y los servicios que ofrece BANSEFI, a través de su Portal o Sitio hacen referencia exclusivamente, a
      las operaciones que se realicen en el territorio de los Estados Unidos Mexicanos, las cuales se encuentran reguladas
      por la normatividad que las rige en la República Mexicana.
      Por el hecho de hacer uso de la información y hacer uso de los servicios, el Usuario expresa su aceptación y está de
      acuerdo con los Términos y Condiciones del presente Aviso Legal, así como con las modificaciones que al mismo, en su
      caso, realice BANSEFI.
      Este Portal o Sitio, la información, los materiales descritos en él y el software que se proporciona, son presentados
      “como son”, en el estado en que se “encuentran” y están disponibles sin garantía alguna, ya sea expresa o tácita,
      incluyendo sin limitación, cualquier garantía de comerciabilidad, idoneidad de los materiales para un fin particular,
      o de no cumplimiento.
      Los Usuarios no residentes en los Estados Unidos Mexicanos que deseen acceder al Portal o Sitio, deberán asegurarse
      que el acceso y uso del mismo, de su contenido y/o de los servicios, les esté permitido de conformidad con su propia
      legislación.
      BANSEFI se reserva, sin previa notificación o aviso, el derecho de suspender, interrumpir o dejar de operar el Portal
      o Sitio y los servicios que se ofrecen a través del mismo, en cualquier momento.
      <br />
      <br />
      <b>Marcas y derechos de autor</b>
      <br />
      <br />
      Las marcas, logotipos, nombres comerciales, patentes, diseños industriales, personajes, y demás derechos de Propiedad
      Industrial (la "Propiedad Intelectual") exhibidas en este Portal o Sitio, son propiedad de BANSEFI y de terceros según
      sea el caso. Por lo que se prohíbe a los Usuarios usar la “Propiedad Intelectual” sin el permiso previo y por escrito
      de la Institución o del tercero a quien pertenezca la Propiedad Intelectual. Todos los contenidos del Portal o Sitio
      tales como textos, gráficos, fotografías, logotipos, logos, iconos, imágenes, así como el diseño gráfico del Portal o
      Sitio tanto tomados individualmente como formando un conjunto estético homogéneo, son de la exclusiva propiedad y
      titularidad de BANSEFI o sus colaboradores. Todo el contenido exhibido o disponible a través de este Portal está
      protegido por la legislación vigente en materia de derechos de autor y de propiedad industrial.
      El Usuario no adquirirá ningún derecho de propiedad en relación con la Propiedad Intelectual, por tener carácter de
      Usuario y en ningún momento dicho uso será considerado como una autorización, permiso, concesión o licencia para
      utilizar los servicios propios del Portal o Sitio con fines distintos a aquellos para los cuales fue creada.
      Los derechos de Propiedad Intelectual del Portal o Sitio de BANSEFI en Internet, las pantallas que se muestran, la
      información y material que aparecen en las mismas, pertenecen y son propiedad o se encuentran en posesión de BANSEFI,
      salvo que se indique lo contrario.
      El logotipo de BANSEFI, así como las marcas denominativas y mixtas de servicios y nombres comerciales y diseños que
      aparecen en el Portal o Sitio de BANSEFI,
      así como el Portal o Sitio www.bansefi.gob.mx son marcas registradas propiedad de BANSEFI y se encuentran debidamente
      registradas conforme a la
      legislación aplicable confiriéndole a BANSEFI el derecho exclusivo para su explotación y uso.
      <br />
      <br />
      <b>Seguridad de la información</b>
      <br />
      <br />
      BANSEFI mantiene procedimientos diseñados para proteger la información confidencial del Usuario, así como el uso por
      parte del Usuario de cualquiera de los productos y servicios proporcionados a través del Portal o Sitio.
      La seguridad de la información que se transmite entre el Usuario y las páginas de terceros enlazados al Portal o Sitio
      de BANSEFI en Internet, será responsabilidad exclusiva de dichos terceros y del Usuario.
      El Usuario entiende y acepta que no obstante que BANSEFI protege la información transmitida a través del Portal o
      Sitio, dada la naturaleza de Internet,
      BANSEFI no garantiza que toda transacción electrónica se encuentre libre de riesgo; por lo que el Usuario libera de
      manera absoluta y sin limitación
      alguna a BANSEFI de cualquier tipo de responsabilidad civil, penal, administrativa, mercantil o de cualquier otra
      naturaleza, así como de los daños y perjuicios
      o cualquier otra que pudiera ser ocasionados por el mal uso que pudiera darse a dicha información por parte de dichos
      Usuarios o por terceras personas,
      con respecto a la información generada, transmitida, recibida o archivada en el Portal o Sitio.
      <br />
      <br />
      <b>Autorización para divulgar información</b>
      <br />
      <br />
      El Usuario acepta expresamente que al acceder al Portal o Sitio, autoriza a BANSEFI a que toda la información que
      ingrese al sistema pueda ser proporcionada
      por BANSEFI a terceros, por lo que en ningún caso se entenderá que sé esta violando ningún derecho del Usuario, el
      secreto bancario o de cualquier otro
      de naturaleza análoga o similar.
      <br />
      <br />
      <b>Integridad, autenticidad y archivo de los mensajes de datos</b>
      <br />
      <br />
      La clave de Usuario y la contraseña, servirán para realizar las operaciones propias del Portal o Sitio a fin de: (a)
      verificar la identidad del emisor de un mensaje de datos,
      (b) determinar que un mensaje de datos no ha sido alterado y ha permanecido íntegro durante su generación,
      comunicación, transmisión, recepción o archivo,
      y (c) atribuir tal mensaje de datos de manera fehaciente al Usuario que lo haya generado.
      Los mensajes de datos recibidos y/o archivados en medios electrónicos, identificados con la clave de Usuario y la
      contraseña, serán atribuibles
      al Usuario respectivo y servirán para evidenciar su origen. Por consiguiente, el Usuario es el único responsable de
      todos los actos, disposiciones,
      cesión de derechos, autorizaciones, transferencias, operaciones financieras, información proporcionada, etcétera, que
      se realicen con su clave de Usuario
      y con su contraseña, ya sea que el uso de los mismos haya sido autorizado o no por el mismo.
      <br />
      <br />
      <b>Claves de acceso y claves de identificación</b>
      <br />
      <br />
      En todo momento, el Usuario es responsable único y final de mantener en secreto la clave de Usuario y la contraseña
      con las cuales tenga acceso a la información y a los servicios que ofrece BANSEFI a través del Portal o Sitio.
      El Usuario se compromete a hacer un uso diligente y a mantener en secreto la clave de Usuario y la contraseña mediante
      las cuales puede realizar operaciones en el Portal o Sitio.
      <br />
      <br />
      <b> Responsabilidad limitada</b>
      <br />
      <br />
      El Usuario acepta que BANSEFI, no tendrá responsabilidad alguna, por la interrupción o demora de cualquier
      información, material o cualquier otro aspecto relacionado con los servicios que se ofrecen en el Portal o Sitio,
      incluyendo sin limitación, responsabilidad asociada con cualesquier virus, que pudiera infectar el equipo de cómputo o
      software del Usuario, ni por los daños y/o perjuicios que puedan ocasionarse por la falta de veracidad, vigencia,
      exhaustividad y/o autenticidad de la información que un tercero dé de alta en el Portal o Sitio.
      Los materiales podrán contener inexactitudes y/o errores tipográficos, por lo que BANSEFI no garantizará la exactitud
      o perfección de los materiales, ni la confiabilidad de algún aviso, opinión, declaración o cualquier otra información
      visualizada o distribuida a través del Portal o Sitio. El Usuario reconoce que el confiar en cualquier aviso, opinión,
      declaración o información será bajo su propio riesgo. BANSEFI se reserva el derecho, bajo su propia discreción, de
      corregir cualesquier errores u omisiones que se encuentren en cualquier parte del Portal o Sitio. BANSEFI podrá
      realizar cualquier cambio al Portal o Sitio, así como a cualquier material, productos, programas, servicios o precios
      (si existieran) descritos en el Portal o Sitio en cualquier momento y sin necesidad de aviso previo.
      BANSEFI adopta diversas medidas de protección para proteger el Portal o Sitio contra ataques informáticos de terceros.
      No obstante, BANSEFI no garantizará que terceros no autorizados puedan tener acceso al uso del Portal o Sitio que hace
      el Usuario o las condiciones, características y circunstancias en las cuales se realiza dicho uso. En consecuencia,
      BANSEFI no será en ningún caso responsable de los daños y perjuicios que pudieran derivarse de dicho acceso no
      autorizado.
      <br />
      <br />
      <b>Cambios al aviso legal</b>
      <br />
      <br />
      BANSEFI se reserva el derecho de modificar el presente Aviso Legal en cualquier tiempo, mediante la simple publicación
      de las nuevas disposiciones aplicables, siendo el Usuario responsable de revisar el Aviso Legal periódicamente. El uso
      del Portal o Sitio constituirá la aceptación del Usuario, de las disposiciones aplicables al Portal o Sitio,
      contenidas en el presente Aviso Legal. El Usuario es responsable de revisar periódicamente dichos cambios.
      <br />
      <br />
      <b> Ley aplicable</b>
      <br />
      <br />
      El servicio del Portal o Sitio es controlado por BANSEFI desde sus oficinas en la Ciudad de México, D.F., en los
      Estados Unidos Mexicanos. Al ingresar al Portal o Sitio, el Usuario y BANSEFI aceptan someterse a la legislación
      aplicable en los Estados Unidos Mexicanos, sin tomar en cuenta los principios de conflictos de leyes que pudieran
      surgir.
      <br />
      <br />
      <b>Jurisdicción</b>
      <br />
      <br />
      Para la interpretación, ejecución y cumplimiento del presente Aviso Legal, BANSEFI y el Usuario (Las partes) están de
      acuerdo en someterse a la jurisdicción de los tribunales competentes en la Ciudad de México, Distrito Federal,
      renunciando expresamente a cualquier otro fuero que por sus domicilios presentes o futuros pudiera corresponderles.
      El Usuario declara haber leído y aceptar íntegramente los presentes Términos y Condiciones vigentes en el momento de
      acceder al Portal o Sitio y/o usar los Servicios.
      En el caso de que el Usuario no esté de acuerdo con las disposiciones del presente Aviso Legal deberá abstenerse de
      utilizar el Portal o Sitio y/o de realizar operaciones a través del Portal o Sitio.
      <br />
      <br />
      <b>Política de Privacidad</b>
      <br />
      <br />
      En cumplimiento con lo establecido por la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental
      le informamos nuestra política de privacidad y manejo de datos personales:
      1) Los datos que solicitamos en el formulario de contacto únicamente serán utilizados para poder establecer contacto
      con usted en relación a su solicitud de información.
      2) Los datos que ingrese en el formulario de contacto no serán difundidos, distribuidos o comercializados.
      3) Su petición puede ser incluida dentro de los informes estadísticos que se elaboren para el seguimiento de avances
      institucionales de ésta entidad. No obstante, dichos informes serán meramente estadísticos y no incluirán información
      que permitan identificarlo en lo individual.
      4) Sus datos personales podrán ser proporcionados a terceros de acuerdo con lo estrictamente señalado en el art. 22 de
      la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental.
      5) Si necesita mayor información por favor escriba a:
      <br />
      <br />
      <b> Unidad de Enlace Bansefi</b>
      <br />
      <br />
      Dirección: Eje 10 sur Río Magdalena N° 115, 1er piso edificio Anexo, Col. Tizapán San Ángel, C.P. 01090, México D.F.
      Correo electrónico:informacion@bansefi.gob.mx
      <br />
      <br />
      <b>Uso de Cookies</b>
      <br />
      <br />
      El portal www.bansefi.gob.mx utiliza cookies temporales de sesión en todas la páginas seguras para asignar al usuario
      o almacenar una identidad de sesión de tal forma que pueda desplazarse en forma ininterrumpida por la áreas de nuestro
      sitio seguro. Las Cookies son archivos de datos que se almacenan en el disco duro de la computadora del usuario cuando
      este ingresa al sitio www.bansefi.gob.mx ; y pueden contener información que proporcione el usuario o información para
      rastrear las páginas que éste ha visitado, dichas Cookies no pueden leer datos o información del disco duro ni tampoco
      las Cookies creadas por otros sitios o páginas Web.
      <br />
      <br />
      <b> Privacidad de terceros, enlaces con otros Portales o Sitios de Internet</b>
      <br />
      <br />
      BANSEFI proporciona enlaces con otros Portales o Sitios de Internet (tales como ligas, banners y botones) para la
      conveniencia del Usuario. BANSEFI no es responsable en relación con tales Portales o Sitios, cualquier Portal o Sitio
      enlazado con ésta es independiente de BANSEFI. En consecuencia, BANSEFI no tiene control sobre los productos,
      servicios, materiales o cualquier otra información contenida en o disponible a través de los Portales o Sitios de
      dichos terceros. El acceso a cualquier otro Portal o Sitio enlazado es bajo el propio riesgo y responsabilidad del
      Usuario.
    </p>
  </div>
</ion-content>

<app-footer></app-footer>