<app-header [svg]="true" [backButton]="true" [title]="'Program details'" [defaultHref]="'plan-social'"></app-header>

<ion-content fullscreen>

  <div class="container-big" style="text-align: center; font-size: 16px; font-weight: 700; color: #193931;">
    <p>
    {{program.title}}
    </p>
  </div>
  <div [innerHTML]="program.text" class="container-big" style="text-align: justify;font-size: 14px;">
    <div class="ion-padding">
    <ion-button  (click)="goToDetails(program)" expand="block" color="primary" translate="More info">
    </ion-button>
  </div>
  </div>

</ion-content>

<app-footer></app-footer>