<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Transfers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="with-button">Cuenta Origen</h2>
      
      <!-- 
         card-slides: triggers some sass options
         slidesPerView: defines the "ammount" of visible slides. the trick = decimal numbers
         spaceBetween: is basically the margin between each slide in px
    -->
    <ion-slides card-slides slidesPerView="1.18" spaceBetween="10">
        <ion-slide>
        <ion-card>
          <ion-card-content>
            Debi Cuenta
          </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
        <ion-card>
          <ion-card-content>
            Mi Cochinito
          </ion-card-content>
        </ion-card>
        </ion-slide>

          
        
    </ion-slides>
  
    
    <h2>Cuenta Destino</h2>
    
    <ion-slides card-slides slidesPerView="2.18" spaceBetween="2">
        <ion-slide>
        <ion-card>
        </ion-card-header>
        Banco Azteca
      </ion-card-header>
          <ion-card-content>
            Gustavo Espindola
          </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
        <ion-card>
          <ion-card-content>
            Bancomer
          </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
        <ion-card>
          <ion-card-content>
            Banamex
         
          </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
        <ion-card>
          <ion-card-content>
            Santander
         
          </ion-card-content>
        </ion-card>
        </ion-slide>	    
        <ion-slide>
        <ion-card>
          <ion-card-content>
            BanCoppel
          </ion-card-content>
        </ion-card>
        </ion-slide>	    
        
    </ion-slides>
</ion-content>
