<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary" translate>Change pin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      
      <ion-card-content>
    
        <form style="margin-top: 0.5rem;" [formGroup]="form">

          <ion-item style="margin-top: 15px;">
            <ion-input formControlName="password"  placeholder="{{ 'Current pin' | translate }}" [type]="type" clearInput></ion-input>
            <ion-icon *ngIf="icon" (click)="viewPassword()" name="eye-off-outline" slot="end"></ion-icon>
            <ion-icon *ngIf="!icon" (click)="viewPassword()" name="eye-outline" slot="end"></ion-icon>
          </ion-item>  
          <app-input-error [control]="form.controls.password"></app-input-error>

          <ion-item style="margin-top: 15px;">
            <ion-input formControlName="newPassword"  placeholder="{{ 'New pin' | translate }}" [type]="type" clearInput></ion-input>
            <ion-icon *ngIf="icon" (click)="viewPassword()" name="eye-off-outline" slot="end"></ion-icon>
            <ion-icon *ngIf="!icon" (click)="viewPassword()" name="eye-outline" slot="end"></ion-icon>
          </ion-item>  
          <app-input-error [control]="form.controls.newPassword"></app-input-error>

          <ion-item style="margin-top: 15px;">
            <ion-input formControlName="confirmPassword"  placeholder="{{ 'Confirm pin' | translate }}" [type]="type" clearInput></ion-input>
            <ion-icon *ngIf="icon" (click)="viewPassword()" name="eye-off-outline" slot="end"></ion-icon>
            <ion-icon *ngIf="!icon" (click)="viewPassword()" name="eye-outline" slot="end"></ion-icon>
          </ion-item>  
          <app-input-error [control]="form.controls.confirmPassword"></app-input-error> 
          
          <br>
          <div class="ion-padding">
            <ion-button type="submit" [disabled]="!form.valid" expand="block" color="primary" translate="Change"></ion-button>    
            <ion-button [routerLink]="['/settings']" routerDirection="backward" expand="block" fill="clear">{{ 'registration.cancel' | translate }}</ion-button>
          </div>
        </form>
      </ion-card-content>
  
    </ion-card>
  
  </ion-content>
  
