.btn {
    display:block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--ion-color-primary);
    
  }

  img{
    border-radius: 50%;
  }

  .contentName{
    background-color: var(--ion-color-primary-tint);
    height: 25%;
    width: 100%;
  }


