<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="forgotForm" (ngSubmit)="presentAlert()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Correo electrónico" clearInput></ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="!forgotForm.valid" expand="block" color="primary">Recuperar</ion-button>    
    </form>
  </ion-grid>
</ion-content>