<app-header [svg]="true" [backButton]="true" [title]="'Change Email'"  [defaultHref]="'settings'" ></app-header>

<ion-content>
      <form style="margin-top: 40%;" [formGroup]="form" (ngSubmit)="changeEmail()">
        <ion-item style="margin-top: 15px;">
          <ion-input formControlName="email" placeholder="{{ 'New Email' | translate }}" clearInput></ion-input>
        </ion-item>
        <app-input-error [control]="form.controls.email"></app-input-error>
        <br>
        <div class="ion-padding">
          <ion-button type="submit" [disabled]="!form.valid" expand="block" color="primary" translate="Change">
          </ion-button>
          <ion-button [routerLink]="['/settings']" routerDirection="backward" expand="block" fill="clear">
            {{ 'registration.cancel' | translate }}</ion-button>
        </div>
      </form>
   
 
</ion-content>