<ion-card style="width: 92%; margin: auto">
  <ion-card-content>
    <p style="text-align: center;">
      <b style="color: black;">{{ data.title }}</b>
    </p>

    <b style="color: black; font-size: small;">{{ data.number }}</b> <br>

    <ion-grid style="margin-top: -0.7rem;">
      <ion-row>
        <ion-col>
          {{ data.description }}
        </ion-col>
        <ion-col>
          <ion-text>
            <p [ngStyle]="{'text-align': 'right', 'color': data.amountTextColor}"> <b> +{{ data.amount | currency }} </b> </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-card-content>
</ion-card>