<app-header [svg]="true" [dismissButton]="true" [title]="'Transfer Success'"
  [img]="'/assets/header-icons/transferir-exitoso.png'"></app-header>

<ion-content>

  <div class="container-big" style="font-size: xx-large; text-align: center;">
    <div>
      <span style="font-size: 20px; font-weight: 600; color: #464646;">{{fecha}}</span>
      <h1><b>$ {{transferAmount | number : '1.2-2'}}</b></h1>
    </div>
    <span translate class="ion-text-center" style="font-size: 14px; font-weight: 100; color: #cca578;">This transfer
      does not generate charge
    </span>
  </div>

  <ion-list class="container-big" style="margin-top:20px">
    <ion-item>
      <ion-label>
        <h4>{{'Beneficiary' | translate}}:<span>{{clientName}}</span></h4>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h4>{{'Account Number' | translate}}:<span>{{accountNumber}}</span></h4>
      </ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label>
        <h4>Concepto:<span>{{concepto}}</span></h4>
      </ion-label>
    </ion-item> -->
    <ion-item>
      <ion-label>
        <h4>{{'Reference' | translate}}:<span>{{referencia}}</span></h4>
      </ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label>
        <h4>Comisión:<span></span></h4>
      </ion-label>
    </ion-item> -->
    <ion-item>
      <ion-label>
        <h4>{{'Invoice' | translate}}:<span>{{folio}}</span></h4>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar style="text-align: center;" no-padding>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>