<app-header [svg]="true" [title]="'Pay Order'"></app-header>
<ion-content>

  <div style="text-align: center; width: 220px; margin: auto; margin-top: 1rem;">
    <ion-label style="text-align: center;">
      <ngx-barcode [bc-value]="code" bc-format="EAN13" [bc-display-value]="true"></ngx-barcode>
    </ion-label>
  </div>

  
  <div class="container-small">
    <ion-list>
      <ion-item>
        <p> <b><span translate>Beneficiary</span>:</b> <br> {{ displayName | titlecase }} </p> 
      </ion-item>
      <!-- <ion-item>
        <p> <b><span translate>Concept</span>:</b> <br> {{ concept }} </p> 
      </ion-item> -->
      <ion-item>
        <p> <b><span translate>Reference</span>:</b> <br> {{ (routingCode || 'Doesn´t apply') | translate }} </p>  
      </ion-item>
    </ion-list>
  </div>
  
  <br>

  <div style="font-size: 1.7rem; font-weight: bold; text-align: center;">
    <app-money-format [amount]="transactionAmount"></app-money-format>
  </div>

  <div style="width: 70%; position: absolute;bottom: 0; right: 15%;">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <app-rounding-button title="Ready" routerLink="/dashboard" iconType="check"></app-rounding-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<app-footer></app-footer>

